@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700';
@font-face {
    font-family: CeraGR;
    src: url('../fonts/CeraGR/Cera GR .otf');
	src: url('../fonts/CeraGR/Cera GR.woff');
}
@font-face {
    font-family: CeraGR-Bold;
    src: url('../fonts/CeraGR/Cera GR Bold.woff');
    src: url('../fonts/CeraGR/Cera GR Bold.otf');
}
@font-face {
    font-family: CeraGR;
    src: url('../fonts/CeraGR/Cera GR Medium.woff');
    src: url('../fonts/CeraGR/Cera GR Medium.otf');
}
@font-face {
    font-family: CeraGR-Light;
    src: url('../fonts/CeraGR/Cera GR Light.woff');
    src: url('../fonts/CeraGR/Cera GR Light.otf');
}
body {
    font-family : 'CeraGR', 'Roboto', sans-serif;
    font-size   : 13px;
    line-height : 24px;
    color       : #969595;
    font-weight : 400;
    background: #fefefe;
    }

/* --------------------------------------
Global Typography
------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    margin      : 0 0 15px;
    color       : #313131;
    font-weight : 400;
    }

h1 {
    font-size   : 30px;
    }

h2 {
    font-size   : 24px;
    }

h3 {
    font-size   : 20px;
    }

h4 {
    font-size   : 18px;
    }

h5 {
    font-size   : 16px;
    font-weight : 600;
    }

h6 {
    font-size   : 14px;
    line-height : 24px;
    }
img{
	max-width: 100%;
	height   : auto;
   }
/* --------------------------------------
LINK STYLE
------------------------------------------*/
a {
    color              : #31aae2;
    text-decoration    : none;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    }

a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
    }

a:hover,
a:focus {
    text-decoration : none;
    }


ul {
    margin     : 0;
    padding    : 0;
    list-style : none;
    }


/* --------------------
   Section Background
   -------------------*/

.gray-bg {
    background-color : #f9f9f9;
    }

.white-bg {
    background-color : #fff;
    }

.center-content{
	max-width: 1230px;
	margin: 0 auto;
}
.center-div{
	max-width: 1200px;
	margin: 0 auto;
}
/* --------------------
   main Wrapper
   -------------------*/
#main-wrapper{
    background: #fff;
    }

/*Button Style*/
.btn {
    padding        : 10px 30px;
    margin-bottom  : 0;
    font-size      : 13px;
    border-radius  : 0;
	    -webkit-transition : all 0.5s;
    -moz-transition    : all 0.5s;
    -o-transition      : all 0.5s;
    transition         : all 0.5s;
    }
.btn.active,
.btn.focus,
.btn:active,
.btn:focus,
.btn:hover{
	outline: 0;
	box-shadow: none;
}
/*btn-primary*/
.btn-primary {
    background-color : #31aae2;
    border-color     : #31aae2;
    }

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    background-color : #2281ad;
    border-color     : #2281ad;
    }

/*btn-default*/
.btn-default {
    color            : #313131;
    background-color : transparent;
    border-color     : #313131;
    }

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
    color            : #31aae2;
    background-color : #ffffff;
    border-color     : #ffffff;
    }

/*btn-black*/
.btn-black {
    color            : #ffffff;
    background-color : #313131;
    border-color     : #313131;
    }

.btn-black:focus,
.btn-black:hover {
    color            : #313131;
    border-color     : #313131;
    background-color : transparent !important;
    }

button:focus,
.btn:focus,
.btn:active:focus {
    outline : none;
    }
.btn-MediumSeaGreen{
	border: solid 3px #27cf8b;
	color: #27cf8b;
	font-size: 18px;
	font-family: CeraGR;
	font-weight: 400;
	text-transform: inherit;
	 margin: 0;
	 display: inline-block;
	 vertical-align: middle;
}
.button-div ul{
	display: block;
	text-align: center;
}
.button-div ul li{
	display: inline-block;
	text-align: center;
}

.button-div  ul li .btn-MediumSeaGreen.radius-left{
	border-left: 0;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -4px;
	background-color: transparent;
}
.button-div  ul li .btn-MediumSeaGreen.radius-right{
	border-right: 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.button-div  ul li.active .btn-MediumSeaGreen.radius-right{
	background-color: #27cf8b;
	color: #fff;
}
.button-div  ul li.active .btn-MediumSeaGreen.radius-left{
	background-color: #27cf8b;
	color: #fff;
}
.btn-MediumSeaGreen:hover,
.button-div .btn-MediumSeaGreen:last-child:hover{
	background-color: #27cf8b;
	color: #fff;
}
.icon{
	vertical-align : middle;
	}

/* -------------------
   Section Padding
   --------------------*/
.pt-100 {
    padding-top : 100px;
    }

.ptb-90 {
    padding-bottom : 90px;
    padding-top    : 90px;
    }

.ptb-100 {
    padding-top    : 100px;
    padding-bottom : 100px;
    }

.ptb-150 {
    padding-top    : 150px;
    padding-bottom : 150px;
    }

.ptb-160 {
    padding-top    : 160px;
    padding-bottom : 160px;
    }

.ptb-170 {
    padding-top    : 170px;
    padding-bottom : 170px;
    }
.m-t-190{
	margin-top: 190px;
}
@media (min-width : 768px) {
    /*custom-padding class*/
    .pl-30 {
        padding-left : 30px;
        }

    .pr-30 {
        padding-right : 30px;
        }
    }


/* ----------------------------------------------
text-highlights
------------------------------------------------- */
.text-highlights {
    color   : #ffffff;
    padding : 0px 5px;
    }

.text-highlights.black {
    background : #313131;
    }

.text-highlights.blue {
    background : #31aae2;
    }

/*Common Page Header*/
.page-header {
    padding-bottom : 0;
    margin         : 100px 0;
    border-bottom  : 0;
    }

.page-header h1 {
    font-size      : 70px;
    line-height    : 70px;
    color          : #ffffff;
    font-weight    : 400;
    text-transform : capitalize;
    margin-bottom  : 30px;
    font-family    : 'Montserrat', sans-serif;
    }

.page-header .sub-title {
    display        : block;
    font-size      : 40px;
    line-height    : 40px;
    color          : rgba(255, 255, 255, 0.5);
    font-weight    : 700;
    text-transform : uppercase;
    font-family    : 'Montserrat', sans-serif;
    }

@media (max-width : 766px) {
    .page-header h1 {
        font-size   : 44px;
        line-height : 44px;
        }

    .page-header .sub-title {
        font-size   : 30px;
        line-height : 30px;
        }
    }

/*feature-section*/
.feature-section {
    background      : url(../../assets/img/feature-bg.jpg) no-repeat;
    background-size : cover;
    }

/* ------------------------------------------------------------------
BACK TO TOP
--------------------------------------------------------------------- */
#toTop {
    position    : fixed;
    bottom      : 30px;
    right       : 30px;
    color       : #31aae2;
    cursor      : pointer;
    display     : none;
    z-index     : 9999;
    width       : 30px;
    height      : 30px;
    border      : 2px solid #31aae2;
    text-align  : center;
    font-size   : 18px;
    line-height : 24px;
    }

#toTop:hover {
    color              : #ffffff;
    background-color   : #31aae2;
    border             : 1px solid transparent;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    }

/* ------------------------------------------------------------------
Shortcode Content
--------------------------------------------------------------------- */
.page-title-section {
    padding-top     : 80px;
    background      : url(../../assets/img/page-bg/page-bg-1.jpg) no-repeat center center #4795bb;
    background-size : cover;
    }

/*-----------------------------
 NAVIGATION & HEADER STYLE
--------------------------------*/

/*Navigation*/
@media screen and (max-width : 768px) {
    .navbar-default {
        background    : #27cf8b !important;
        padding       : 10px 0;
        border-bottom : none;
        }
	.container-fluid>.navbar-header{
		padding-left  : 15px;
		padding-right : 15px;
		}
    }

@media (min-width : 768px) {
    .navbar-default {
        background-color   : transparent;
        padding            : 30px 0;
        border-color       : transparent;
        -webkit-transition : all .5s ease-in-out;
        -moz-transition    : all .5s ease-in-out;
        transition         : all .5s ease-in-out;
        }

    .sticky-nav.navbar-default {
        background-color : #27cf8b;
        padding          : 10px 0;
        }

    .navbar-right .dropdown-menu {
        right : auto;
        }
	.navbar-right{
		margin-right: 0;
		}
    }

.navbar-default {
    margin-bottom : 0;
    }

.navbar-brand {
    padding-top    : 0;
    padding-bottom : 0;
	padding: 0;
    height         : 75px;
	width: 163px;
        -webkit-transition : all .5s ease-in-out;
        -moz-transition    : all .5s ease-in-out;
        transition         : all .5s ease-in-out;
    }
 img{
	max-width: 100%;
	height: auto;

}
.sticky-nav.navbar-default .navbar-brand {
	height: auto;
	width: 100px;
	}
.navbar-default .navbar-nav > li {
    margin-right : 17px;
	color        : #ffffff;
	font-size    : 18px;
	font-family: CeraGR;
	font-weight: 400;
	line-height: 60px;
    }

.navbar-default .navbar-nav > li:last-child {
    margin-right : 0px;
    }

.navbar-default .navbar-nav > li > a {
    color          : #ffffff;
    font-size      : 18px;
    font-weight    : 700;
    padding        : 0;
    border-radius  : 0;
    }
.navbar-default .navbar-nav > li > a.app-img{
	width: 170px;
	height: 60px;
	-webkit-transition : all .5s ease-in-out;
	-moz-transition    : all .5s ease-in-out;
	transition         : all .5s ease-in-out;
}
.navbar-default .navbar-nav > li > a.app-img img{
	max-width: 100%;
	height: auto;
}
.sticky-nav.navbar-default .navbar-nav > li > a.app-img {
	width: 100px;
	height: auto;
}
.sticky-nav.navbar-default .navbar-nav > li{
	line-height: 30px;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color            : #ffffff;
    background-color : transparent;
    }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color            : #ffffff;
    background-color : transparent;
    }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color : #ffffff;
    }

.nav-cta {
    float              : right;
    margin-right       : 40px;
    margin-left        : 20px;
    line-height        : 40px;
    -webkit-transition : all .3s ease-in-out;
    -moz-transition    : all .3s ease-in-out;
    transition         : all .3s ease-in-out;
    }

.nav-cta > li > a {
    display     : inline-block;
    color       : #ffffff;
    width       : 20px;
    height      : 34px;
    line-height : 34px;
    text-align  : center;
    }

.nav-cta .dropdown-menu {
    left  : auto;
    right : 0;
    }

.head-search {
    width : 370px;
    }

.head-search {
    padding : 8px;
    }

.head-search .form-control {
    height : 40px;
    }

.head-search .btn {
    padding : 10px 20px;
    }

/*Dropdown Menu*/

.dropdown-menu {
    display            : inherit;
    top                : 100% !important;
    padding            : 0;
    font-size          : 13px;
    opacity            : 0;
    visibility         : hidden;
    border             : 1px solid #f5f5f5;
    border-radius      : 0;
    box-shadow         : 0px -2px 0px #000000;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
    }

.dropdown:hover .dropdown-menu {
    display    : block;
    margin-top : 28px !important;
    opacity    : 1;
    visibility : visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    }

.dropdown-menu::before {
    top      : -30px;
    content  : "";
    position : absolute;
    width    : 100%;
    height   : 30px;
    display  : block;
    }

.sticky-nav .dropdown:hover .dropdown-menu {
    margin-top : 14px !important;
    }

.dropdown-header {
    font-size      : 11px;
    line-height    : 30px;
    font-weight    : 600;
    color          : #313131;
    text-transform : uppercase;
    }

.dropdown-menu li a {
    display     : block;
    font-size   : 13px;
    line-height : 30px;
    color       : #969595;
    padding     : 3px 20px;
    }

.dropdown-menu li a:hover {
    color            : #31aae2;
    background-color : #f5f5f5;
    padding-left     : 25px;
    }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    color            : #31aae2;
    background-color : #f5f5f5;
    padding-left     : 25px;
    }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color            : #000000;
    background-color : transparent;
    }

/*Mega Menu*/
.m-menu .nav,
.m-menu .collapse,
.m-menu .dropup,
.m-menu .dropdown {
    position : static;
    }

.m-menu .container {
    position : relative;
    }

.m-menu .dropdown-menu {
    left : auto;
    }

.m-menu .m-menu-content {
    }

.m-menu .dropdown.m-menu-fw .dropdown-menu {
    left  : 15px;
    right : 15px;
    }

.m-menu-content ul {
    border-right : 1px solid #f5f5f5;
    padding      : 20px;
    }

.m-menu-content ul:last-of-type {
    border-right : 0;
    }

@media (max-width : 768px) {
    .navbar-toggle {
        display : block;
        }
	.navbar-default .navbar-brand {
		height: auto;
		width: 100px;
		}
    }
@media (max-width : 992px) {
	.navbar-default .navbar-nav > li > a.app-img{
		width: 150px;
		height: auto;
	}
	.navbar-default .navbar-nav > li{
		line-height: 45px;
		}
    }

.navbar-toggle {
    position      : absolute;
    right         : 0;
    padding       : 0;
    border        : 0;
	margin-top: 0;
    border-radius : 0;
	color: #fff;
	font-size: 30px;
	width:45px;
    }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color : transparent;
    }

.navbar-toggle .icon-bar {
    width  : 14px;
    height : 3px;
    }

.navbar-default .navbar-toggle .icon-bar {
    background-color : #ffffff;
    }

.navbar-toggle .icon-bar + .icon-bar {
    margin-top : 2px;
    }

/*uc-mobile-menu*/
.uc-mobile-menu {
    }

.uc-mobile-menu-container > div {
    visibility : hidden;
    }

#menu {
    margin : 50px 40px;

    }

#menu > li {
	color: #fff;
	font-size: 18px;
    }

#menu > li:last-child {
    border-bottom : 0;
    }

#menu > li ul li {
    margin-left : 0;
    color       : #fff;

    }

#menu li a {
    display         : block;
    text-decoration : none;
    color           : #fff;
    padding         : 10px 0;
    font-size: 16px;
    }


#menu li a:hover,
#menu li.active a {
    color : #ffffff;
    }

/*Mobile Menu Close*/
.uc-mobile-menu .close {
    position           : absolute;
    right              : 0;
    top                : 0;
    color              : #ffffff;
    text-shadow        : none;
    filter             : alpha(opacity=50);
    opacity            : .5;
    width              : 44px;
    height             : 44px;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    }

.uc-mobile-menu .close:hover {
    opacity : 1;
    }

/*-------------------
    HERO SLIDER
--------------------*/
.carousel-inner .item{
	height: 825px;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}
.hero-slide .carousel-caption {
    width       :100%;
	height      : 100%;
	left        : 0;
	top         : 0;
    text-shadow : none;
    right       : 0;
	text-align  : left;
    }
.hero-slide .carousel-caption .container{
	height: 100%;
}
.display-table{
	display: table;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.table-cell{
	display: table-cell;
	vertical-align: middle;
}
.hero-slide .carousel-control.left,
.bottom-slider .carousel-control.left,
.bottom-slider .carousel-control.right ,
.hero-slide .carousel-control.right {
    width       : 41px;
    height      : 41px;
    line-height : 34px;
    top         : 50%;
    margin-top  : -20px;
    background  : transparent;
    cursor      : pointer;
    text-shadow : none;
	background-image: url('../images/carouse-arrow.png');
	background-repeat: no-repeat;
    }

.hero-slide .carousel-control.left,
.bottom-slider .carousel-control.left{
	padding: 0 15px 0 11px;
	background-position: top left;
}
.hero-slide .carousel-control.right,
.bottom-slider .carousel-control.right{
	padding: 0 11px 0 15px;
	background-position: bottom left;
}
.hero-slide .carousel-control.left ,
.bottom-slider .carousel-control.left{
    left : 1%;
    }

.hero-slide .carousel-control.right,
.bottom-slider .carousel-control.right {
    right : 1%;
    }

.hero-slide .carousel-indicators {
    bottom : 60px;
    }

.hero-slide .carousel-indicators li {
    border : 2px solid #ffffff;
    }
.main-container {
  padding: 0;
}

.audio-pull {
	background-image: url('../images/audio-pull.jpg')
}
.video-pull {
	background-image: url('../images/video-pull.jpg')
}
.photo-pull {
	background-image: url('../images/photo-pull.jpg')
}
.text-pull {
	background-image: url('../images/text-pull.jpg')
}
.mixed-pull {
	background-image: url('../images/mixed-pull.jpg')
}
.deepskyblue {
	background-color: #00bfff;
}
.darkerskyblue {
	background-color: #00a6dd;
}
.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 825px; 
	height: 100%;
	width:100%; 
	padding-top: 100px;
}
.carousel-caption h3{
	font-size: 42px;
	color: #fff;
	line-height: 42px;
	margin: 0;
}
.carousel-caption h2{
	font-size: 150px;
	color: #fff;
	font-family: CeraGR;
	line-height: 1;
	margin: 0 0 15px;
}
.carousel-caption strong{
	font-size: 28px;
	color: #fff;
	line-height:1;
	font-weight: 400;
	font-family: CeraGR;
	margin: 0;
}
.carousel-caption h2.video-pull-title:after {
	content: '';
	width: 79px;
	height: 78px;
	display: inline-block;
	background-image: url('../images/video-pull-icon.png')
}
.carousel-caption h2.audio-pull-title:after {
	content: '';
	width: 37px;
	height: 66px;
	display: inline-block;
	background-image: url('../images/audio-vector-icon.png')
}
.carousel-caption h2.photo-pull-title:after {
	content: '';
	width: 36px;
	height: 38px;
	display: inline-block;
	vertical-align: top;
	margin-top: 40px;
	background-image: url('../images/flash.png')
}
.carousel-caption h2.text-pull-title:after {
	content: '';
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 0px;
	background-image: url('../images/text-pull-icon.png')
}
.col-height{
	height: 100%;
}

/* Animation delays */
.carousel-caption h3 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.carousel-caption h2 {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.carousel-caption strong {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
.carousel-caption .iphone {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

/*Media Query*/
@media screen and (max-width : 1199px) {
	.carousel-caption h3{
		font-size: 30px;
	}
	.carousel-caption h2{
		font-size: 100px;
	}
	.carousel-caption strong{
		font-size: 20px;
	}
	.carousel-caption h2.audio-pull-title:after {
		width: 20px;
		height: 40px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.carousel-caption h2.video-pull-title:after {
		width: 50px;
		height: 48px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.carousel .item{
		min-height: 10px;
	}
	.hero-slide .carousel-caption {
		position: relative;
	}
    }
@media screen and (max-width : 991px) {
	.carousel-caption h3{
		font-size: 25px;
	}
	.carousel-caption h2{
		font-size: 90px;
	}
	.carousel-caption strong{
		font-size: 20px;
	}
	.carousel-caption h2.audio-pull-title:after {
		width: 20px;
		height: 40px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.carousel-caption h2.video-pull-title:after {
		width: 50px;
		height: 48px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.carousel .item{
		min-height: 10px;
		padding-top: 100px;
	}
	.hero-slide .carousel-caption {
		position: relative;
	}
    }
@media screen and (max-width : 767px) {
	.hero-slide .carousel-caption {
		text-align: center;
	}
	.carousel .item{
		min-height: 10px;
		padding-top: 70px;
	}
	.hero-slide .carousel-caption {
		position: relative;
	}
	.iphone{
		padding: 5% 30%;
	}
    }

/* -------------------
 Section Title Style
 --------------------- */
.section-title {
    margin-bottom : 50px;
    }

.section-title h2 {
    font-size      : 30px;
    text-transform : capitalize;
    position       : relative;
    }

.section-title span.bordered-icon {
    color       : #dadada;
    padding     : 0 10px;
    font-size   : 12px;
    line-height : 18px;
    position    : relative;
    display     : inline-block;
    }

.section-title span.bordered-icon:before,
.section-title span.bordered-icon:after {
    content    : "";
    background : #dadada;
    width      : 50px;
    height     : 1px;
    top        : 8px;
    position   : absolute;
    }

.section-title span.bordered-icon:before {
    left : 100%;
    }

.section-title span.bordered-icon:after {
    right : 100%;
    }

/*====================
======Service CSS=====
======================*/
.parallax-section{
	min-height: 300px;
	width: 100%;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#intro {
  background-image: url("../images/intro-bg.jpg");
  color:#fff;
  min-height: 714px;
  background-color:	#5661de;
  position: relative;
}

#intro ul{
	margin-top: 200px;
}
#intro ul li{
	font-size: 72px;
	color: #27cf8b;
	line-height: 80px;
	font-weight: 300;
	font-family: CeraGR-Light;
}
#intro ul li:first-child{
	padding-left: 140px;
}
#intro ul li:nth-child(2){
	padding-left: 70px;
}
#intro p{
	font-size: 21px;
	color: #fff;
	font-family: CeraGR-Light;
	font-weight: 400;
	margin-top: 20px;
}
#slide {
    position: absolute;
    left: 0;
    bottom: 0;
	width: 100%;
	height: 100%;
}
.slide-center{
	max-width: 1300px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}
.slide-img{
	position: absolute;
	right: 0;
	bottom: 50px;	
}

@media screen and (max-width : 1300px) {
	.slide-img{
		width: 400px;
	}
}
@media screen and (max-width : 1199px) {
	#intro ul li{
		font-size: 60px;
		line-height: 70px;
	}
}
@media screen and (max-width : 991px) {
	#intro ul li{
		font-size: 50px;
		line-height: 60px;
	}
	#intro ul li:first-child {
		padding-left: 50px;
	}
	#intro ul li:nth-child(2) {
		padding-left: 30px;
	}
	.slide-img {
		width: 334px;
	}
	#intro{
		min-height: 500px;
	}
	#intro ul {
		margin-top: 150px;
	}
}
@media screen and (max-width : 767px) {
	#slide,
	.slide-img{
		position: relative;
	}
	#intro ul{
		margin-top: 50px;
		padding: 0;
	}
	.slide-img {
		width: 300px;
		margin: 0 auto;
		bottom: 0;
	}
	#intro ul li{
		padding: 0!important;
		text-align: center;
	}
	#intro p{
		text-align: center;
	}
}

/* ---------------------------------------------- /*
 * About section
/* ---------------------------------------------- */
.about-lavoice{
	background-image: url('../images/bg-graphics.png');
	background-position: 0 100%;
	background-repeat: no-repeat;
}
.about-lavoice.background-none{
	background-image: none;
}
.about-lavoice h2{
	font-size: 36px;
	color: #181e28;
	font-weight: 400;
	font-family: Myriad Pro;
}
.about-lavoice h2 span {
	text-transform: uppercase;
}
.about-lavoice p,
.laVoice-business p,
.collaborate-nsg p{
	font-size: 21px;
	color: #606e83;
	line-height: 30px;
	font-family: CeraGR-Light;
	margin-top: 30px;
	font-weight: 400;
	padding-bottom: 50px;
}
.button-div{
	margin-top: 30px;
}
.laVoice {
	color: #27cf8b;
}
.about-lavoice h3,
.laVoice-business h3,
.collaborate-nsg h3{
	font-size: 32px;
	color: #27cf8b;
	line-height: 40px;
	font-family: CeraGR;
	font-weight: 400;
	margin-top: 90px;
}
.bg-blue {
	background-color: #5661e8;
	font-size: 16px;
	color: #fff;
	padding: 10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	/*text-align: center;*/
	margin-top: 20px;
	padding-left: 30px;
}
.phones-div {
	position: relative;
	min-height: 700px;
}
.front-phone {
	position: absolute;
	left: 30px;
	bottom: 0;
	display: block;
	z-index: 2;
}
.back-phone {
	position: absolute;
	left: 300px;
	bottom: -50px;
	display: block;
}
.girl-phone {
	position: absolute;
	left: 300px;
	top: 50px;
	display: block;
}
.headphone-img {
	position: absolute;
	left: 50px;
	bottom: 0;
}
.div-relative{
	position: relative;
}
.padding-bottom {
	padding-bottom: 300px;
}
.center-wide-div{
	max-width: 1540px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}
.collaborate-nsg  {
	padding-bottom: 70px;
	margin-top: 30px;
}
@media screen and (max-width : 1199px) {
	.back-phone {
		bottom: 0;
	}
	.front-phone {
		width: 50%;
	}
	.headphone-img {
		position: absolute;
		left: 50px;
		bottom: 0;
		width: 40%;
	}
}
@media screen and (max-width : 991px) {
	.front-phone {
		position: relative;
		left: 0px;
		bottom: 0;
		display: block;
		z-index: 2;
		width: 49%;
		display: inline-block;
	}
	.girl-phone{
		width: 49%;
		display: inline-block;
		left: 0;
		position: relative;
	}
	.back-phone {
		position: relative;
		left: 0;
		bottom: 0px;
		display: block;
		width: 49%;
		display: inline-block;
	}
	.phones-div {
		min-height: 10px;
	}
	.about-lavoice h3{
		margin-top: 20px;
	}
	.about-lavoice{
		background-position: bottom left;
		margin-bottom: 0px;
		background-image: none;
	}
}
@media screen and (max-width : 767px) {
	.about-lavoice .pull-right{
		float: none!important;
	}
	.headphone-img {
		position: relative;
		left: 0px;
		bottom: 0;
		width: 40%;
		margin: 0 auto;
	}
	.padding-bottom{
		padding-bottom: 0;
	}
	
}
/* ---------------------------------------------- /*
 * laVoice-business
/* ---------------------------------------------- */
.laVoice-business{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
}
.phone-widget{
	max-width: 400px;
	margin: 0 auto 0;
}
.text-widget{
	max-width: 355px;
	margin: 0 auto 0;
	padding-top: 100px;
}
.text-widget .bg-blue{
	text-align: left;
}
.images-iphone{
	position: relative;
}
.img-back{
	padding-top: 90px;
}
.img-front {
	position: absolute;
	right: 235px;
	top: 0;
}
.bag-div{
	max-width: 1600px;
	margin: 120px auto 0;
	position: relative;
	min-height: 100px;	
}
#bag{
	position: absolute;
	right:-100%;
	bottom: 0;
	opacity: 0;

}
#bag.animate {
  opacity: 1;
  	    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 0.5s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}
@media screen and (max-width : 1600px) {
	.bag-div{
		width: 600px;
		margin: 0 auto 0;
		position: absolute;
		right: 0;
		bottom: 0px;
		padding-bottom: 100px;		
	}
	.laVoice-business{
		padding-bottom: 90px;
	}
}
@media screen and (max-width : 1199px) {
	.bag-div{
		width:500px;		
	}
}
@media screen and (max-width : 991px) {
	.bag-div{
		width:100%;	
		position: relative;
		bottom: 0;
		text-align: right;
		padding: 5% 25px 0;
	}
	.laVoice-business{
		padding-bottom: 0px;
	}
	#bag{
		position: relative;
	}
	.img-front {
		right: 175px;
	}
	.img-back{
		padding-left: 45%;
	}
}
@media screen and (max-width : 767px) {
	.img-back{
		padding: 0;
		width: 49%;
		display: inline-block;
	}
	.img-front {
		right: 0;
		position: relative;
		display: inline-block;
		width: 49%;
	}
	.text-widget{
		padding: 0;
	}
	.laVoice-business h3{
		margin-top: 20px;
	}
}
/* ---------------------------------------------- /*
 * item-carousel
/* ---------------------------------------------- */


.item-carousel {
	position: relative;
}
.carousel-heading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 90px;
	text-align: center;
	z-index: 999;
}
.carousel-heading h3{
	font-weight: 300;
	margin: 0;
	padding: 0;
	font-size: 38px;
	color : #fff;
	font-family: CeraGR;
}
.bottom-slider  .carousel-inner .item{
	min-height: 914px;
	padding-top: 200px;
	background-repeat:no-repeat;
	background-position: top center;
	background-size: cover;
}
.bottom-slider .carousel-caption {
    width       :100%;
	height      : 100%;
	left        : 0;
	top         : 0;
    text-shadow : none;
    right       : 0;
	text-align  : left;
	position: relative;
    }
.collaborate{
	background-image: url('../images/Collaborate-bg.jpg')
}
.collaborate-phone{
	position: relative;
}
.collaborate-phone img{
	position: relative;
	z-index: 9;
}
.collaborate-phone:before{
	content: '';
	width: 152px;
	height: 195px;
	display: block;
	left: 0;
	top: 190px;
	position: absolute;
	background-image: url('../images/c-phone-left.png')
}
.collaborate-phone:after{
	content: '';
	width: 213px;
	height: 245px;
	display: block;
	right: 0;
	top: 190px;
	position: absolute;
	background-image: url('../images/c-phone-right.png')
}
.slider-text{
	max-width: 320px;
	margin: 0 auto;
}
.slider-text h3{
	font-size: 36px;
	color: #fff;
	font-family: CeraGR;
	font-weight: 400;
}
.slider-text p{
	font-size: 21px;
	color: #fff;
	line-height: 30px;
	font-family: CeraGR-Light;
	font-weight: 300;
	margin: 25px 0 0;
}
.vertical-container {
  height: 300px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
@media screen and (max-width : 1199px) {
	.collaborate-phone:after{
		content: '';
		width: 135px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.collaborate-phone:before{
		content: '';
		width: 100px;
		background-size: contain;
		background-repeat: no-repeat;
	}
}
@media screen and (max-width : 991px) {
	.collaborate-phone{
		padding: 0 25%;
	}
	.collaborate-phone:before{
		top: 100px;
	}
	.collaborate-phone:after{
		width: 100px;
	}
}
@media screen and (max-width : 991px) {
	.collaborate-phone{
		padding: 0 0%;
	}
	.collaborate-phone:before{
		top: 100px;
	}
	.collaborate-phone:after{
		width: 100px;
	}
}
@media screen and (max-width : 767px) {
	.slider-text{
		max-width: 90%;
		margin-bottom: 40px;
	}
	.collaborate-phone:before{
		top: 40%;
	}
	.collaborate-phone:after{
		top: 40%;
	}
}
.keep-it-fun{
	background-image: url('../images/keep-it-fun.jpg')
}
.keep-it-fun-phone {
	position: relative;
}
.keep-it-fun-phone img{
	position: relative;
	z-index: 9;
}
.keep-it-fun-phone:before{
	content: '';
	width: 96px;
	height: 302px;
	display: block;
	left: 30px;
	top: 120px;
	position: absolute;
	background-image: url('../images/k-phone-before.png')
}
.keep-it-fun-phone:after{
	content: '';
	width: 105px;
	height: 105px;
	display: block;
	right: 30px;
	top: 50%;
	margin-top: -50px;
	position: absolute;
	background-image: url('../images/k-phone-after.png')
}
@media screen and (max-width : 1199px) {
	.keep-it-fun-phone:after{
		right: 0;
	}
	.keep-it-fun-phone:before{
		left: 0;
	}
}
@media screen and (max-width : 991px) {
	.keep-it-fun-phone:after{
		background-size: contain;
		background-repeat: no-repeat;
		width: 70px;
	}
	.keep-it-fun-phone:before{
		background-size: contain;
		background-repeat: no-repeat;
		width: 70px;
	}
	.keep-it-fun-phone{
		padding: 0 20%;
	}
}
.in-depth {
	background-image: url('../images/in-depth-analycics.jpg')
}
.in-depth-analytics {
	position: relative;
	background-image: url('../images/in-detph-icon.png');
	background-position: center center;
	background-repeat: no-repeat;
	
}
.in-depth-analytics:before {
	content: '';
	width: 370px;
	height: 370px;
	position: absolute;
	left: 0;
	top: -70px;
	z-index: 10;
	background-image: url('../images/in-depth-highlight.png');
	background-position: center center;
	background-repeat: no-repeat;
	
}
@media screen and (max-width : 767px) {
	.in-depth-analytics:before {
		display: inline-block;
		width: 50%;
		top: 0;
		height: 100%;
		vertical-align: middle;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.in-depth-analytics{
		padding-left: 49%;
	}
}
.sharing{
	background-image: url('../images/sharing.jpg');
}
.sharing-phone{
	position: relative;
}
.sharing-phone:before{
	content: '';
	width: 106px;
	height: 325px;
	display: block;
	left: 30px;
	top: 120px;
	position: absolute;
	background-image: url('../images/s-phone-before.png');
	
}
.sharing-phone:after{
	content: '';
	width: 128px;
	height: 308px;
	display: block;
	right: 30px;
	top: 120px;
	position: absolute;
	background-image: url('../images/s-phone-after.png');
	
}
@media screen and (max-width : 1199px) {
	.sharing-phone:before{
		left: 0;
	}
	.sharing-phone:after{
		right: -15px;
	}
}
@media screen and (max-width : 991px) {
	.sharing-phone:before{
		width: 90px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.sharing-phone:after{
		width: 90px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.sharing-phone{
		padding: 0 23%;
	}
}
.feedback{
	background-image: url('../images/feedback.jpg')
}
.feedback-phone{
	position: relative;
}
.feedback-phone img{
	position: relative;
	z-index: 9;
}
.feedback-phone:before{
	content: '';
	width: 129px;
	height: 206px;
	display: block;
	left: 30px;
	top: 120px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../images/feedback-phone-left.png')
}
.feedback-phone:after{
	content: '';
	width: 97px;
	height: 88px;
	display: block;
	right: 30px;
	top: 170px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../images/feedback-phone-right.png')
}
@media screen and (max-width : 1199px) {
	.feedback-phone:before{
		left: -15px;
	}
	.feedback-phone:after{
		right: 0;
	}
}
@media screen and (max-width : 991px) {
	.feedback-phone:before{
		width: 70px;
	}
	.feedback-phone:after{
		width: 70px;
	}
	.feedback-phone{
		padding: 0 20%;
	}
}
@media screen and (max-width : 767px) {
	.carousel-caption img {
		width: 150px;
	}
	
	.feedback-phone:before{
		width: 20%;
		left: 0;
	}
	.feedback-phone:after{
		width: 20%;
	}
	.feedback-phone{
		padding: 0 20%;
	}
}
.publish {
	background-image: url('../images/publish.jpg')
}
.publish-phone {
	position: relative;
}
.publish-phone img{
	position: relative;
	z-index: 9;
}
.publish-phone:before{
	content: '';
	width: 100px;
	height: 196px;
	display: block;
	left: 30px;
	top: 170px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../images/p-phone-left.png');
}
.publish-phone:after{
	content: '';
	width: 127px;
	height: 378px;
	display: block;
	right: 30px;
	top: 100px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../images/p-phone-right.png');
}
@media screen and (max-width : 1199px) {
	.publish-phone:before{
		left: 0;
	}
	.publish-phone:after{
		right: 0;
	}
}
@media screen and (max-width : 1199px) {
	.publish-phone:before{
		width: 20%;
	}
	.publish-phone:after{
		width: 20%;
	}
	.publish-phone{
		padding: 0 20%;
	}
}
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* ---------------------------------------------- /*
 * Subjects
/* ---------------------------------------------- */
.laVoice-subjects {
	padding: 70px 0;
	background-color: #fefefe;
}
.top-row h3,
.after-logo{
	font-family: CeraGR;
	color: #27cf8b;
	font-size: 38px;
	line-height: 48px;
	font-weight: 400;
}
.top-row p{
	font-family: CeraGR-Light;
	color: #606e83;
	font-size: 21px;
	line-height: 30px;
	font-weight: 400;
}
.fullwidth-div{
	max-width: 1600px;
	margin: 0 auto;
	position: relative;
}
.item-subjects strong{
	font-size: 21px;
	line-height: 28px;
	font-weight: 400;
	font-family: CeraGR-Light;
	display: block;
	text-align: center;
	margin-top: 60px;
	color: #606e83;
}
#list-subjects {
	display: block;
	text-align: center;
	position: relative;
	min-height:700px;
	margin-top: 90px;
}
#list-subjects li{
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
}
#list-subjects li.study{
	width:14%;
	top: 10%;
	z-index: 9;
}
#list-subjects li.fashion{
	width: 17%;
	left: 12%;
	z-index: 8;
}
#list-subjects li.pre-election{
	width: 15%;
	left: 25%;
	top: 120px;
	z-index: 10;
}
#list-subjects li.sports{
	width: 20%;
	left: 38%;
	top: 40px;
	z-index: 10;
}
#list-subjects li.food{
	width: 18%;
	left: 55%;
	z-index: 12;
}
#list-subjects li.performence{
	width: 17%;
	left: 70%;
	top: 120px;
	z-index: 12;
}
#list-subjects li.customer-feedback{
	width: 20%;
	left: 82%;
	top: 60px;
	z-index: 11;
}
@media screen and (max-width : 1199px) {
	.item-subjects strong{
		font-size: 17px;
	}
}
@media screen and (max-width : 768px) {
	#list-subjects li{
		width: 33%!important;
		padding: 15px 15px;
		position: relative;
		left: 0!important;
		top: 0!important;
	}
	.item-subjects strong{
		margin-top: 15px;
	}
}
.after-logo{
	margin: 40px auto;
	max-width: 750px;
}
.subject-bottom p{
	font-family: CeraGR-Light;
	font-size: 21px;
	line-height: 30px;
	color: #606e83;
	font-weight: 400;
}
.subject-bottom p a{
	color: #27cf8b;
	cursor: pointer;
}
.subject-bottom p a:hover{
	border-bottom: 3px solid #27cf8b;
	text-decoration: none;
	padding-bottom: 4px;
	
}

.button-green {
	color: #fff;
	font-size: 24px;
	background-color: #27cf8b;
	border-radius: 7px;
	margin-top: 30px;
	border: solid 3px #27cf8b;
}
.button-green:hover{
	background-color: transparent;
	color: #27cf8b;
}
.bottom-app-section {
	background-color: #27cf8b;
	padding: 100px 0;
}
.bottom-app-section p{
	color: #fff;
	font-size: 21px;
}
.bottom-app-section h2{
	font-size: 36px;
	color: #fff;
	font-weight: 400;
	font-family: CeraGR-Light;
}
.app-button-div {
	margin-top: 60px;
	margin-bottom: 80px;
}
.app-button-div a{
	margin-bottom: 10px;
	display: inline-block;
}
/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */
.footer{
	background-color: #181e28;
	padding: 15px 0;
}
.footer p{
	font-size: 13px;
	color: #fff;
	margin: 0;
	display: inline-block;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
.footer p a{
	font-weight: 700;
	color: #fff;
}
.footer  span{
	display: inline-block;
	width: 122px;
	height: 57px;
	margin: 0 15px;
	vertical-align: middle;
	background-image: url('../images/next.png')
}
.footer b{
	display: inline-block;
}
@media screen and (max-width : 991px) {
	.footer p{
		display: block;
	}
	.footer b{
		display: none;
	}
}
@media screen and (max-width : 480px) {
	.button-div ul li .btn-MediumSeaGreen {
		padding: 10px;
		font-size: 16px;
	}
}
/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */
#preloader {
    background: #706d5d;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    }

#status,
.status-mes {
    background-image: url(../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
    }

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
    }