/* YOUR CUSTOM STYLES */

li.nav-item.avatar.dropdown a img {
    height: 35px;
    float: right;
        margin-left: 10px;
}

.hj-profile > a:before{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
        margin: 0 7px 0 0;
}
.hj-profile > a:after{
display: none!important;
}
.hj-logo img {
    max-width: 220px;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (max-width : 992px) {
div#bs-example-navbar-collapse-1 {
    margin-top: 70px;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 999;
}
ul.nav.navbar-nav.ml-auto.flex-row {
display:none!important;
}
.trigger {
    display: block!important;
}
.hj-logo img {
    margin-top: 3px!important;
}
li.nav-item a {
    padding: 12px 15px!important;
}
li.nav-item a:hover {
    background:#333;
	color:#fff!important;
}
a#link-7 {
    margin-left: 15px;
    margin: 0!important;
}
button.navbar-toggle.collapsed ,
button.navbar-toggle{
    background: none;
    border: none;
}
button.navbar-toggle.collapsed img,
button.navbar-toggle img {
    width: 50px;
    margin-top: 5px;
}
.img-responsive{
max-width: 100%; 
height: auto;
display:block;
}
} 

.mt27{
 margin-top: 27px;
}
.fr{
float:right;
}
.w100{
width:100%;
}
.tl{
text-align:left;
}

.hj-logo img {
       max-width: 180px;
    margin: 10px 15px;
}
a#navbarDropdownMenuLink {
    padding: 8px 15px;
}
a.nav-link.waves-effect.waves-light.hj {
    padding: 1.5rem 15px;
}
.fr{
float:right;
}
.tr{
text-align:right;
}
.p5{
padding:5% 15px;
}
.w280{
width:280px;
}
.tc{
text-align:center;
}
.m0{
margin:0 auto;
}
.w50{
width:50%;
}
.w300{
max-width:300px;
}
nav.navbar.fixed-top.navbar-toggleable-md.navbar-dark.scrolling-navbar.double-nav {
    padding: 5px;max-height:70px;
}	

.title {
    text-align: center;
    font-size: 2em;
}
.sub-heading {
    font-size: 1.5em;
    text-align: center;
}
a.pull-right {
    box-shadow: 2px 2px #ccc;
    padding: 20px;
    border-radius: 50%;
    margin-left: 15px;

}
a.pull-left {
    box-shadow: 2px 2px #ccc;
    padding: 20px;
    border-radius: 50%;
    margin-right: 15px;
}

.img-wrap,.img-wrap1 {
    text-align: center;
}
footer h5 {
    text-align: left!important;
}
h3.media-heading {
    padding: 24px 0;
    font-size: 22px;
}
.about-item {
    text-align: center;
}
.spaceAll{
	margin-bottom:20px;
}
section{
padding:6% 15px;
}
.rel{ position:relative;}
.detail{
    padding: 20px;
    width: 100%;
    text-align: left;
    border: 1px solid #ececec;
    box-shadow: 1px 1px 5px #ececec;
    -webkit-transition: opacity 1.5s ease-out;
    transition: opacity 1.5s ease-out;

}
.abso {
    position: absolute;
    top: 80px;
}
.iconn {
    box-shadow: 2px 2px 3px #ccc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-top: 35px;
    margin-bottom: 20px;
}

.latest_new,.about-us,.tournaments{
background:#F5F5F5;
}
a#link-7 {
    margin-left: 15px;
}
.banner {
    background: url(../img/bg.jpg)no-repeat center /cover;
}
.head {
    margin: 30% 0;
    font-size: 3em;
    float: right;
    text-align: right;
    color: #fff;
    font-weight: bold;
}
.linkto a {
    font-size: 22px;
    font-weight: normal;
    padding: 10px 20px;
    border: 2px solid;
}
.linkto a:hover{
background:#03A9F4;
color:#fff;
border: 2px solid #03A9F4;
}
.foot-logo {
    text-align: center;
    padding: 20px 0;
}
.foot-logo img {
    width: 130px;
}
ul.cust-evt li a {
    background: none;
    color: #333;
}
.col-md-3.cust-evt-wrap {
    border-right: 1px solid #ccc;
}
ul.cust-evt li a {
    background: none;
    color: #999;
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
    font-size: 20px;
}
ul.cust-evt li a.active {
color:#03A9F4;
}


ul.cust-evt li:nth-child(1) a.active:after,
ul.cust-evt li:nth-child(2) a.active:after,
ul.cust-evt li:nth-child(3) a.active:after {
border-color: transparent #F5F5F5 transparent transparent;
    border-style: solid;
    border-width: 1em 1em 1em 0;
    content: ' ';
    -webkit-filter: drop-shadow(-.1em 0 .03em rgba(0,0,0,.1));
    height: 0;
    margin-right: -2px;
    margin-top: 0em;
    position: absolute;
    right: 0;
    width: 0;
}



.card-title {
    margin-bottom: .75rem;
    font-size: 18px;
    font-weight: bold;
}

.trigger {
    display: none;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
        position: fixed;
    top: 50%;
    font-size: 20px;
    background-color: black;
    left: 50%;
}
.loader1 {
    border: 4px solid #222; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
       position: relative;
    top: 50%;
    font-size: 20px;
   
    left: 50%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.weight100{font-weight: 100; font-size: 10px; }
 .modal-style{font-family: 'Bubbler One', sans-serif; font-size: 36px; text-align: center; margin-top: 23px; }

@media screen and (max-width: 400px) {
    .linkto span {
        display: block;
        
    }
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('') center no-repeat #fff;
}
